<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lixue.aibei.chapter2" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- socket通信权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 自定义的权限 -->
    <permission
        android:name="com.lixue.aibei.chapter2.permission.ACCESS_BOOK_SERVICE"
        android:protectionLevel="normal" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SecondActivity"
            android:label="@string/title_activity_second" >
        </activity>
        <activity
            android:name=".ThirdActivity"
            android:label="@string/title_activity_third" >
        </activity>

        <service
            android:name=".BookManagerService"
            android:enabled="true"
            android:exported="true" >
        </service>
        <service
            android:name=".MessengerService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name=".MessengerActivity"
            android:label="@string/title_activity_messenger" >
        </activity>
        <!-- 注册provider -->
        <provider
            android:name=".BookProvider"
            android:authorities="com.lixue.aibei.chapter2.book.provider"
            android:permission="com.lixue.PROVIDER"
            android:process=":provider" />

        <activity
            android:name=".ProviderActivity"
            android:label="@string/title_activity_provider" >
        </activity>

        <!-- 注册soket服务与activity -->
        <activity
            android:name=".socket.TCPClientActivity"
            android:label="TCPClientActivity" />

        <service
            android:name=".socket.TCPServerService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".binderpool.BinderPoolService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name=".binderpool.BinderPoolActivity"
            android:label="@string/title_activity_binder_pool" >
        </activity>
    </application>

</manifest>
